//This is where we put global styles and change variable values//

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

//Pick better colors later, these are placeholders!//

$blue-green: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: #023020;
$light: #f8f8f8;

//Update global variabes//

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

//Update Bulma's component variabes//

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Set custom global styles (will be applied to whole app)//

html, body{
    height: 100%;
}

body{
    background-color: #5C7C84;
}

.button{
    background-color: #5C7C84;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

